:root {
  --primaryColor:#D2E7FF;
  --mainWhite: #fff;
  --offWhite: #F8F9FD;
  --mainText: #434343;
  --headingPrimary:#333333;
  --headingSecondary: #73A5E0;
  --darkGrey: #45505b;
  --primary: #0C4654;

  --boxShadow: 0px 4px 12px rgba(0, 0, 0, 0.09); 
  --bodyText: 14px;
  --headingSecondarySize: 14px;
  --headingPrimarySize: 32px;
  --Roboto:'Roboto', sans-serif;
}
/* everything*/
* {
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
/* The input bars */
input[type=text], input[type=email], input[type=password] {
  background-color:purple;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid green;
}
/*when the input bar is clicked */
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  background-color:pink;
  font-size: 18px;
  border: 4px dashed rebeccapurple;
}
/*  The submit Button */ 
input[type=submit] {
  padding:20px;
  background-color:plum;
  border: 1px solid blue;
}
/*Logout button in the navbar at the bottom*/
.logout-but {
  background-color:var(--primary) !important;
  padding: 5px 5px;
  width: calc(100% - 20px);
  min-width:100px;
  position: absolute;
  color: white;
  bottom: 15px;
  left: 10px;
}
/* All links dont touch*/
a {
  color: var(--mainText);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.navbar li a{
  font-size:17px;
  background: linear-gradient(to right, var(--darkGrey), var(--darkGrey) 50%, var(--headingSecondary) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}
.align-left{
  margin-left: auto;
}
.navbar li:hover a{
  background-position: 0 100%;
}
.navbar {
  display:flex;
  flex-wrap:row; 
  background-color:white;
  opacity:0.8;
  width:100%;
  position:fixed;
  align-items:center;
  transition: all 0.3s ease-in-out;
}

.navbar:active, .navbar:hover {
  opacity:1;
}

.navbar h1 {
  padding:15px;
  font-size:var(--headingPrimarySize);
  color:var(--headingPrimary);
  letter-spacing:2px;
}

.links li{
  display:inline-block; 
  padding: 5px 20px;
}

.nav-icon {
  display:none;
  height:50px;
  padding:15px;
  font-size: calc(var(--headingPrimarySize) );
  left:0px;
  transition: all 0.3s ease-in-out;
  display:flex;
  align-items:center;
}

.nav-drawer {
  display:none;
  padding:20px;
  height:100vh;
  min-width:200px;
}

.nav-drawer li {
  display:block;
  padding:10px 0px;
  border-bottom: 1px solid #b7d8ff;
  position: relative;
}
.nav-drawer li:after{
  content:"";
  position:absolute;
  display:block;
  width:0%;
  bottom:-1px;
  border-bottom: 1px solid var(--darkGrey);
  transition: all 0.3s ease-in-out;
}
.nav-drawer li:hover:after, .nav-drawer li:active:after{
  width:100%;
}

.side-nav {
  position:absolute;
  right:0px;
  top:0px;
  height: 50px;
  display:none;
  flex-direction: column;
  z-index:999;
  width:55px;
  background-color:var(--mainWhite);
  transition: width 0.3s ease-in-out;
 /* transition: width 0.3s cubic-bezier(0.45, 2.21, 0.6, 0.02); */
}
.side-nav.show{
  width:200px;
  height:100vh;
  border-left: 2px solid var(--primaryColor);
}

.show {
  display:block !important;

}
@media screen and (max-width: 565px) {
  :root {
      --headingPrimarySize: 24px;
  }
  .side-nav{
      display:flex;
  }

  .links{
    display: none;
  }
}
/* All links dont touch END */

/* Section wrapper for all pages */
section:first-of-type {
  padding-top:80px;
  height:calc(100vh);
}
/* Spacing Stuff */
.section-wrap {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 30px 0px;
  background-color:red;
}

/* Background for login page*/
#login .section-wrap {
  background-color:red;
}

/* Background for login page*/
#signup .section-wrap {
  background-color:red;
}
/* Background for login page*/
#user-profile .section-wrap {
  background-color:red;
}
/* Background for business login page*/
#business-login .section-wrap {
  background-color:red;
}
#business-signup .section-wrap {
  background-color:red;
}

h1 {
  font-family:'Courier New', Courier, monospace;
}
h2 {
  color: peachpuff;
}
h3 {
  color:saddlebrown;
}
.profile ul {
  width:100%;
  display:block;
  padding:20px;
}
/* List stuff */
.profile li {
  display:block;
  border-bottom:1px solid slateblue;
  width:100%;
}